<div class="task-tables-display" ng-controller="LessImportantTasks as low">
    <h2>Less Important Tasks</h2>
    <table class="table table-bordered table-striped" ng-if="low.lowToDoList.length > 0">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Due</th>
                <th>Done</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in low.lowToDoList">
                <td>
                    <textarea class="form-control" type="text" ng-model="item.title"></textarea>
                </td>
                <td>
                    <textarea class="form-control" type="text" ng-model="item.description"></textarea>
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-6">     
                            <da-datepicker selected-date="item.due"></da-datepicker>               
                        </div>
                    </div>
                </td>
                <td>
                    <input class="form-control" type="checkbox" ng-model="item.isDone"/>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" ng-click="low.addTask()">Add Task</button>
    <button class="btn btn-primary"  ng-if="low.lowToDoList.length > 0" ng-click="low.moveItemsToDone()">Move Task to Done</button>
</div>



