<div class="" ng-controller="LessImportantTasks as lessImportantTasks">
    <form novalidate class="da-form container" name="lessImportantTasks.form" ng-class="{'form-submitted': lessImportantTasks.isSubmitted}">
        <div class="row">
            <div class="col-xs-12">
                <h2>Less Important Tasks</h2>
            </div>
        </div>
        <table class="table table-bordered table-striped" ng-if="lessImportantTasks.lowToDoList.length > 0">
            <thead>
                <tr>
                    <th class="col-xs-3">Title</th>
                    <th class="col-xs-5">Description</th>
                    <th class="col-xs-3">Due <span class="text-red">*</span></th>
                    <th class="col-xs-1">Done</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in lessImportantTasks.lowToDoList">
                    <td>
                        <input type="text" class="form-control" ng-model="item.title" />
                    </td>
                    <td>
                        <textarea class="form-control" ng-model="item.description"></textarea>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-md-8">
                                <da-datepicker ng-model="item.due" is-required="item.isDone" name="dueDate + {{$index}}"></da-datepicker>
                            </div>
                        </div>
                    </td>
                    <td>
                        <input class="form-control" type="checkbox" ng-model="item.isDone" />
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-12">
                <div class="col-xs-2 button-remove-padding">
                    <button class="btn btn-primary margin-bottom-15" ng-click="lessImportantTasks.addTask()">Add Task</button>
                </div>
                <div class="col-md-2 col-md-offset-8 button-remove-padding">
                    <button class="btn btn-primary position-relative float-right" ng-if="lessImportantTasks.lowToDoList.length > 0" ng-click="lessImportantTasks.moveItemsToDone()">Move Task to Done</button>
                </div>
            </div>
        </div>
    </form>
</div>



