<div class="task-tables-display" ng-controller="ImportantTasks as high">
    <h1 class="headings" style="font-size:32px; color:black">Important Tasks</h1>
    <table class="table table-bordered table-striped" ng-if="high.highToDoList.length > 0">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Due</th>
                <th>Done</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in high.highToDoList">
                <td class="data-box">
                    <input class="form-control" type="text" ng-model="item.title" />
                </td>
                <td class="data-box">
                    <input class="form-control" type="text" ng-model="item.description" />
                </td>
                <td class="data-box">
                    <div class="row">
                        <div class="col-md-6">
                            <da-datepicker selected-date="item.due"></da-datepicker>
                        </div>
                    </div>
                </td>
                <td class="data-box">
                    <input class="form-control" type="checkbox" ng-model="item.isDone" />
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" ng-click="high.AddItem()">Add Task</button>
    <button class="btn btn-primary" ng-if="high.highToDoList.length > 0" ng-click="high.MoveItemsToDone()">Remove Items</button>
</div>