<div class="task-tables-display" ng-controller="ImportantTasks as high">
    <h2>Important Tasks</h2>
    <table class="table table-bordered table-striped" ng-if="high.highToDoList.length > 0">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Due</th>
                <th>Done</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in high.highToDoList">
                <td>
                    <textarea class="form-control" type="text" ng-model="item.title"></textarea>
                </td>
                <td>
                    <textarea class="form-control" type="text" ng-model="item.description"></textarea>
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-6">
                            <da-datepicker selected-date="item.due"></da-datepicker>
                        </div>
                    </div>
                </td>
                <td>
                    <input class="form-control" type="checkbox" ng-model="item.isDone"/>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" ng-click="high.addTask()">Add Task</button>
    <button class="btn btn-primary" ng-if="high.highToDoList.length > 0" ng-click="high.moveItemsToDone()">Move Task to Done</button>
</div>