body {
    background-color: #f1f1f1;
}

.da-form {
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

/*TABLE*/
.table-striped > thead > tr {
    background-color: #F9F9F9;
}

.table-striped > tbody > tr:nth-child(even) {
    background-color: #F9F9F9;
}

.table-striped > tbody > tr:nth-child(odd) {
    background-color: white;
}

.text-red {
    color: red;
}
/*"TODAY" AND "CLEAR BUTTONS"*/
.margin-top-05 {
    margin-top: 5px;
}
/*"ADD TASK" AND "MOVE TASK TO DONE" BUTTONS*/
.button-remove-padding {
    padding-left: 0;
    padding-right: 0;
}

.position-relative-float-right {
    position: relative;
    float: right;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.form-submitted .ng-invalid {
    border-width: 2px;
    border-style: solid;
    border-color: red;
}
