<div class="task-tables-display" ng-controller="DoneList as doneList">
    <h2>Done!</h2>
    <table class="table table-bordered table-striped" ng-if="doneList.tasksMarkedDone.length > 0">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Due</th>
                <th>Importance</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in doneList.tasksMarkedDone">
                <td>{{item.title}}</td>
                <td>{{item.description}}</td>
                <td>{{item.due | date}}</td>
                <td>{{item.importance}}</td>
            </tr> 
        </tbody>
    </table>
</div>