<div ng-controller="LowController as low">
   
    <h1 class ="headings" style="font-size:32px; color:black">{{low.hey}}</h1>

    <table class="table table-bordered table-striped" ng-if="low.lowToDoList.length > 0">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Due</th>
                <th>Done</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in low.lowToDoList">
                <td class="data-box">
                    <input class="form-control" type="text" ng-model="item.title"/>
                </td>
                <td class="data-box">
                    <input class="form-control" type="text" ng-model="item.description"/>
                </td>
                <td class="data-box">
                    <pre>Selected date is: <em>{{ item.due | date:'fullDate' }}</em></pre>

                    <h4>Date Due</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{low.format}}" ng-model="item.due" is-open="low.popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="low.altInputFormats" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="low.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Format: <span class="muted-text">(manual alternate <em>{{low.altInputFormats[0]}}</em>)</span></label> 
                            <select class="form-control" ng-model="low.format" ng-options="f for f in low.formats"><option></option></select>
                        </div>
                    </div>

                    <hr />
                    <button type="button" class="btn btn-sm btn-info" ng-click="low.today($index)">Today</button>
                    <button type="button" class="btn btn-sm btn-danger" ng-click="low.clear($index)">Clear</button>
                </td>
                <td class="data-box">
                    <input class="form-control" type="checkbox" ng-model="item.isDone"/>
                </td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-primary" ng-if="low.lowToDoList.length > 0" ng-click="low.MoveItemsToDone()">Remove Items</button>
    <button class="btn btn-primary" ng-click="low.AddItem()">Add Task</button>
</div>



